/* /* .inputs{
    color: white;
    background-color:#ffa9587c; 
    font-size: 20px;
border-color: rgba(252, 252, 252, 0.37);

} */
/* .label{
    color: white;
    font-size: 25px;
}
.contenedor{
    background-color: #8129299d;
    width: 300px;
    flex-direction: column;
    
} */
.error{
    color: red;
    font-size: 20px;
}
.mensaje{
    font-size: 20px;
} 