
.containerDetail{
    background-color:var(--secondaryBackground);
    width: 800px;
    height: auto;
    position: relative;
    margin: 0 auto;
    border-radius: 3px;
    padding: 10px;
}
.titleDetail{
    color:var(--primaryColor);
    font-size: 30px;
    text-decoration: none;
}
.containerImgDetail{
  margin: 0 auto;
}
.imgDetail{
    width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}
.containerInfo{
  width: 60%;
  height: auto;
  margin: 0 auto;
  background-color:var(--headingColor);
  padding: 20px;
  border-radius:5px;
}
.infoDetail{
    display: flex;
    align-items: baseline;
    padding: 0px;
}
.botonDeleteDog{
      background-color:var(--btnDelete);
      color:var(--secondaryColor);
      border-radius: 6px;
      border-color: var(--secondaryColor);
      padding: 5px;
      font-size: 20px;
      display: flex;  
}
.backDetail{
    text-decoration: none;
    background-color:var(--secondaryBackground);
    color:var(--primaryColor);
    border-radius: 6px;
    border-color:var(--primaryColor);
    padding: 5px;
    font-size: 18px;
    margin: 10px;
}
.algo{
  text-decoration: none;
  display: flex;
  justify-content:flex-start;
  }

@media screen and (max-width:900px) {
   
}
@media screen and (max-width:760px) {
  
}

@media screen and (max-width:450px) {
  .containerDetail{
    width: 80%;
  } 
  .infoDetail{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}