.botom{
    color:var(--primaryColor);
    background-color:var(--secondaryBackground);
    font-size: 30px;
    transition: 0,5s;
}
.botom:hover{
    background-color:var(--headingColor);
}
.bienvenido{
    color:var(--primaryColor);
}