.paginationBttns {
  padding: 10px;
  margin: 1px;
  border-radius: 5px;
  border: 1px solid var(--fourthColor);
  color:var(--tertiaryColor);
  background-color: var(--headingColor);
}
.paginationBttns:hover{
   background-color:var(--secondaryBackground);
   color: var(--primaryColor);
}
.paginationBttns:focus{
  background-color:var(--secondaryBackground);
  color: var(--primaryColor);
}
.PrevNextPagination{
  padding: 10px;
  margin: 1px;
  border-radius: 5px;
  border: 1px solid var(--fourthColor);
  color:var(--fourthColor);
  background-color:var(--headingColor);
}
.PrevNextPagination:hover{
  background-color:var(--secondaryBackground);
  color: var(--primaryColor);
}
  
@media screen and (max-width:450px) {
  .paginationBttns{
    padding: 3px;
  }
  .PrevNextPagination{
    padding: 3px;
  }
}