
  .ul{
    list-style:none;
     /* display: inline-block; text-align: left;  */
     /* display:table; margin:0 auto; */
     display: inline-flex;
     /* float:left; */
     text-underline-position: left;
     margin-right:2px;

  }
.paginationBttns {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid #ff922b;
    color: #ffa32bfd;
    /* border: #D7C8B6 2px solid; */
  }
  .paginationBttns:hover{
     background-color: #ff922b;
     color: white;
  }
  .paginationBttns:active{
    background-color: #ffce2bc4;
    color: white;

  }
 
  
 